//fonts sizes
$generalFontSize: 10px;
$generalFont: 'roboto_condensedregular';

$generalColorBg: #3484c1;

$generalColor: #333;
//bg colors variables
$generalBlueBg: #3484c1;
$bodyBg: #fff;
$headerBg: #fff;
$sidebarBg: #2e9788;
$navbarBrandBg: #2e9788;
$sidebarToggleBtnBg: #429e8f;
$headerInfoBg: #2f9889;
$contentBg: #fff;
$btnDisabledBg: #e7e8ea;


// color
$generaCyanlColor: #2f9889;
$generalGreyColor: #acadaf;
$navbarBrandColor: #fff;
$linkColor:  #333;
$sidebarNavLinkColor: #fff;
$generalColor: #333;
$inputTextColor: #333;
$btnColor: #fff;
$labelColor: #aeaeae;


// border color
$sidebarToggleBtnBorderColor: #279481;
$inputBorderColor: #f1f1f1;
$btnDisabledBorder: #e6e7e9;
$btnBorderRadius: 4px;

// width and height
$sidebarWidth: 375px;
$navbarBrandWidth: $sidebarWidth;
$headerHeight: 89px;
$sidebarToggleBtnWidth: 48px;
$sidebarToggleBtnHeight: 32px;
$btnBigWidth: 230px;
$btnBigHeight: 43px;
$btnSmallWidth: 47px;
$btnSmallHeight: 32px;
$borderWidth: 2px;
$inputHeight: 43px;
$inputWdth: 100%;